.userNameText{
  font-size:24px;
  text-align:center;
  display: flex;
}
.userNameText ion-text{
  background-color: #f8d5ff;
  border-radius: 10px 10px 10px 0px;
  padding: 5px 15px;
  font-size: 20px;
}
.messageDateNumber{
  display: flex;
  justify-content: center;
}
ion-grid{
  max-width: 100%;
}
ion-row.hydrated{
  align-items: center;
}
ion-list{
  margin: 0;
}
ion-label{
  font-size: 12px;
}
.messageAvatar{
  align-self: flex-end;
}
.createMessage{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom:50px;
}
.createMessage ion-col{
  padding: 0;
}
.sendMessage{
  text-align: center;
}
ion-input{
  border-bottom: 2px solid #fff;
}