ion-toolbar .toolbarTitle{
  display: flex;
}

ion-grid{
  max-width: 100%;
}

.textCenter{
  font-size:24px;
  margin-top:18px;
  text-align:center
}
.buttonCustom{
  margin-top : 20px;
  margin-left: 30%
}
.center {
  margin:auto
}

.userNameText{
  font-size:24px;
  cursor: pointer;
}
ion-header ion-button{
max-width: 100%;
}
ion-header ion-icon{
font-size: 40px;
}
.trashChannel{
  display: flex;
  justify-content: end;
  max-width: 50px;
  align-items: center;
}
.trashChannel div{
  display: flex;
}
.trashChannel ion-icon{
  font-size: 24px;
  display: flex;
}
.nameChannel{
  max-width: calc(100% - 50px);
  margin: auto;
}
.item, .item-divider{
  border-color: red;
}
.list-md{
  padding: 0;
}