<ion-header>
  <ion-toolbar color="medium">
    <ion-row>
      <ion-col class="toolbarTitle" size="10">
        <ion-title>
          {{userName}}
        </ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="navigateToUSerList()" color="light" fill="clear">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar (ionChange)="onSearchInput($event)" debounce="500"></ion-searchbar>


<ion-list *ngFor="let user of users">
<ion-item *ngIf="user.isFriend=='true'">
  <ion-grid>
    <ion-row class="member">

      <ion-col class="userAvatar">
        <ion-avatar>
            <ion-badge *ngIf="user.isOnline" id="notifications-badge" color="success">0</ion-badge>
            <ion-badge *ngIf="!user.isOnline" id="notifications-badge" color="danger">0</ion-badge>
            <img [src]="user.avatar">
        </ion-avatar>
      </ion-col>

      <ion-col (click)="entrerChatPrive(user.id)" class="nameMember">
        <div>
          <ion-label >{{user.displayName}}</ion-label>
        </div>
      </ion-col>

      <ion-col class="parameterMember">
          <div>
            <div>
                <ion-icon name="videocam" ></ion-icon>
                <ion-icon name="trash" (click)="removeFriend(user)"></ion-icon>
            </div>
          </div>
      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-item>
</ion-list>
<!--
<div class="logoutButton">
  <ion-button shape="round" color="primary" (click)="logout()">
    <ion-icon name="log-out"></ion-icon> Logout
  </ion-button>
</div>
-->
</ion-content>