<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-content padding>

        <ion-list *ngIf="!user">
            <ion-item>
              <ion-label>telephone</ion-label>
              <ion-input type="text" [(ngModel)]="phoneNumber"></ion-input>
              <ion-icon name="phone-portrait"></ion-icon>
            </ion-item>
        
            <div id="recaptcha-container"> </div>
            <ion-button (click)="sendLoginCode()">SMS Text Login Code</ion-button>
            <div *ngIf="windowRef.confirmationResult">
              <ion-label for="code"> enter your verification code here</ion-label>
              <ion-input type="text" [(ngModel)]="verificationCode"></ion-input>
              <ion-button (click)="verifyLoginCode()"> Verify </ion-button>
            </div>
        
            <div *ngIf="user">
              <ion-label> Vous êtes connecté !</ion-label>
            </div>
    
            <div text-center><a [routerLink]="['/signup']" >S'enregistrer</a></div>
        
          </ion-list>
    



</ion-content>