<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->


<ion-content padding>

  <ion-content padding>
    
    <ion-list class="logoLogin">
        <ion-icon name="bonfire"></ion-icon>
        <h1>Massanger M.F.D.P.</h1>
    </ion-list>

    <ion-list *ngIf="!user && loginVerification == true">


      <!--si recaptcha PAS done-->
      <div *ngIf="!windowRef.confirmationResult" >
          <ion-item>
              <ion-input placeholder="Numéro de téléphone" type="text" [(ngModel)]="phoneNumber"></ion-input>
              <ion-icon name="phone-portrait"></ion-icon>
            </ion-item>
            <div class="underRecaptcha centerButton">
                <ion-button (click)="sendLoginCode()">Recevoir code de vérification</ion-button>
                <ion-button class="clearButton" size="small" fill="clear" (click)="authentification(false)">Créer un compte</ion-button>
            </div>
            
      </div>
    
      <!--si recaptcha done-->
      <div *ngIf="windowRef.confirmationResult" class="underRecaptcha">
          <div class="codeVerif">
              <ion-label for="code">Code de vérification -></ion-label>
              <ion-input type="text" [(ngModel)]="verificationCode"></ion-input>
          </div>
          <div class="centerButton">
              <ion-button (click)="verifyLoginCode()">Se connecter</ion-button>
              <ion-button (click)="goBack()"> Retour </ion-button>
          </div>
          
      </div>
      

      <div>   
          
      </div>

    </ion-list>

    <ion-list *ngIf="!user && loginVerification == false">

      <!--si recaptcha PAS done-->
      <div *ngIf="!windowRef.confirmationResult" >
          <ion-item>
              <ion-input placeholder="Numéro de téléphone" type="text" [(ngModel)]="phoneNumber"></ion-input>
              <ion-icon name="phone-portrait"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Pseudonyme" type="text" [(ngModel)]="nomRegister"></ion-input>
              <ion-icon name="person"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input placeholder="E-mail" type="text" [(ngModel)]="email"></ion-input>
              <ion-icon name="mail"></ion-icon>
            </ion-item>
            <ion-item class="modifAvatarProfil">
              <div><p>Photo de profil</p></div>
              <div>
                <ion-icon color="dark" (click)="takeImage()" name="camera"></ion-icon>
                <ion-icon color="dark" (click)="getImage()" name="photos"></ion-icon>
              </div>
            </ion-item>
            <ion-item *ngIf="myPhoto != ''">
              <ion-avatar>
                <img [src]="myPhoto">
              </ion-avatar>
            </ion-item>

            <div class="underRecaptcha centerButton">
                <ion-button class="authButton" (click)="sendLoginCode()">Recevoir code de vérification</ion-button>
            </div>
            
      </div>
      
      <!--si recaptcha done-->
      <div *ngIf="windowRef.confirmationResult" class="underRecaptcha">
        <div class="codeVerif">
            <ion-label for="code">Code de vérification -></ion-label>
            <ion-input type="text" [(ngModel)]="verificationCode"></ion-input>
        </div>
        <div class="centerButton">
          <!--<ion-button (click)="verifyLoginCode()"> Verify </ion-button>-->
          <ion-button  (click)="authentification(true)"> Se connecter</ion-button>
          <ion-button (click)="goBack()"> Retour </ion-button>
        </div>
          

          
      </div>
   

    </ion-list>

    <div *ngIf="!windowRef.confirmationResult" class="divRecaptcha">
       <div id="recaptcha-container"> </div>
    </div>



  </ion-content>